# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env/
.venv/
env/
venv/

# Temporary data
logs/
temp/
tmp/

# Compiled Qt Python files
/network_diagnostics/gui/generated/*
!/network_diagnostics/gui/generated/__init__.py

# PyInstaller
pyinstaller-build/
pyinstaller-dist/
